
/* 首页专有模块 main */
.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}

.main .focus {
    float: left;
    width: 721px;
    height: 455px;
}

.main .newsflash {
    float: right;
    width: 248px;
    height: 455px;
}

.focus li {
    position: relative;
}

.pre {
    position: absolute;
    left: 0;
    top: 200px;
    font-family: 'icomoon';
    font-size: 30px;
}

.next {
    position: absolute;
    right: 0;
    top: 200px;
    font-family: 'icomoon';
    font-size: 30px;
}

.focus_nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 14px;
    background: rgba(255, 255, 255, .7);
    border-radius: 7px;
}

.focus_nav li {
    float: left;
    width: 8px;
    height: 8px;
    margin: 3px;
    background-color: #fff;
    border-radius: 50%;
}

.news {
    height: 165px;
    border: 1px solid #ccc;
}

.news_hd {
    height: 33px;
    border-bottom: 1px dotted #ccc;
    line-height: 33px;
    padding: 0 15px;
}

.news_hd h5 {
    float: left;
    font-size: 14px;
    color: #333;
}

.news_hd .more {
    float: right;
    font-size: 12px;
}

.news_hd .more::after {
    font-family: 'icomoon';
    content: '\e900';
}

.news_bd ul {
    padding-left: 15px;
}

.news_bd ul li {
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lifeservice {
    height: 209px;
}

.lifeservice ul li{
    float: left;
    width: 62px;
    height: 69px;
    border-right: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    text-align: center;
}
.lifeservice ul .bl{
    border-left: 1px solid #ccc;
}

.bargain {
    height: 76px;
    margin-top: 5px;
}
.bargain img{
    width: 248px;
    height: 76px;
}
.phone{
    width: 25px;
    height: 25px;
    background:url(../images/icons.png) no-repeat -15px -15px;
    margin: 10px auto;
}
.lifeservice ul li p{
    font-size: 12px;
    color: #666;
}
.fly{
    background:url(../images/icons.png) no-repeat -78px -15px;
}

/* 推荐模块 */
.recom{
    height: 163px;
    margin-top: 5px;
}
.recom_hd{
    float: left;
    width: 205px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recom_bd{
    float: left;
    background-color: #ebebeb;
}

.recom_bd ul li{
    position: relative;
    float: left;
    width: 248px;
    height: 163px;
    padding-left: 10px;
    
}
.recom_bd ul li:nth-child(-n+3)::after{
    content: '';
    position: absolute;
    right: 0;
    top: 15px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
.recom_bdl{
    float: left;
    width: 100px;
    height: 163px;
    padding-top: 20px;
}
.recom_bdl h5{
    display: inline-block;
    font-size: 16px;
    color: #333;
}
.recom_bdl p:nth-of-type(1){
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: #00a0e8;
    padding: 0 3px;
    margin-top: 15px;

}
.recom_bdl p:nth-of-type(2){
    display: inline-block;
    font-size: 12px;
    color: #666;
}
.mult_shop{
    width: 58px;
    height: 17px;
    background-color: #5fb200;
    text-align: center;
    line-height: 17px;
    border-radius: 7px;
    margin-top: 23px;
}
.recom_bdr{
    float: right;
    width: 135px;
    height: 163px;
    text-align: center;
    padding-top: 20px;
}




/* 楼层区域制作 */
.floor .w{
    margin-top: 30px;
}
.box_hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
    line-height: 30px;
}
.box_hd h3{
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}
.box_hd .tab_list{
    float: right;
}
.box_hd .tab_list ul li{
    float: left;
}
.box_hd .tab_list ul li a{
    font-size: 12px;
    color: #666;
    border-right: 1px solid #ccc;
    padding: 0 15px;
}
.box_hd .tab_list ul li:last-child a{
    border-right: none;
}
.box_bd{
    height: 360px;
}
.tab_list_item1>div{
    float: left;
    height: 360px;
}
.col1{
    width: 210px;
    background-color: #f9f9f9;
}
.col1_top{
    height: 90px;
}
.col1_top ul{
    padding-left: 20px;
}
.col1_top ul li{
    float: left;
    width: 85px;
    height: 30px;
    margin-right: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 30px;
}
.col1_top ul li a{
    font-size: 12px;
    color: #666;
}
.col2{
    width: 329px;
}
.col3{
    width: 221px;
}
.col4{
    width: 221px;
}
.col5{
    width: 219px;
}
.col1_bottom{
    display: block;
    text-align: center;
    margin-top: 25px;
}
.col1_bottom h5{
    font-size: 18px;
    color: #c81623;
}
.col1_bottom p{
    font-size: 12px;
    color: #c81623;
    margin-bottom: 20px;
}
.col2{
    background-color: #aed6d8;
    text-align: center;
}
.col2 h5{
    font-size: 18px;
    color: #066c7d;
    margin-top: 35px;
}
.col2 p{
    font-size: 16px;
    color: #066c7d;
    margin-bottom: 35px;
}
.col2_nav{
    width: 50px;
    height: 20px;
    margin: 0 auto;
}
.col2_nav ul{
    padding: 6px 7px;
}
.col2_nav ul li{
    float: left;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 2px;
}
.col3_top{
    display: block;
    position: relative;
    height: 180px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 25px;
    padding-left: 15px;
}
.col3_top h5{
    font-size: 16px;
    color: #000;
}
.col3_top p{
    font-size: 14px;
    color: #e60012;
}
.col3_top img{
    position: absolute;
    right: 2px;
    bottom: 0px;
}
.col4{
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.col4 h5{
    font-size: 18px;
    color: #000;
    margin-top: 70px;
}
.col4 p{
    font-size: 16px;
    color: #999;
    margin-bottom: 80px;
}
